@import 'tailwindcss';

@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(../assets/font/static/Overpass-Regular.ttf);
}

@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/font/static/Overpass-Bold.ttf);
}

@theme {
  --color-Orange-500: hsl(25, 97%, 53%);
  --color-White: hsl(0, 100%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --font-overpass: Overpass;
}

@layer components {
  .gradient-background {
    background: radial-gradient(
      99% 99% at 50% 0%,
      hsl(215, 20%, 17%),
      hsl(216, 24%, 12%) 100%
    );
  }

  .circle-btn {
    @apply bg-dark-blue font-bold w-10 h-10 rounded-full grid place-content-center cursor-pointer hover:bg-Orange-500 text-light-grey hover:text-very-dark-blue;
  }
}
